# dependencies
/node_modules

# next
/.next
/out

# production
/dist

# misc
.DS_Store
*.pem
*.Zone.Identifier
*:Zone.Identifier

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env
.env*.local

# test
/coverage
